 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}

header {
  text-align: center;
}

h2 {
  margin-top: 0;
}

section {
  border-bottom: solid 1px #000;
  padding: rem(30) 0;

  &:first-of-type {
    margin-top: rem(30);
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.description {
  float: left;
  padding: 0 rem(30) 0 0;
  width: rem(570);
}
